//background
$dominant-color:                 #F2ECE6;
$complimentory-color:            #222222;
$ternary-color:                  #C19C7A;
$white-color:                    #ffffff;
$black-color:                    #000000;
$blackish-color:                 #333333;

//text and background
$primary-color:                  #CDE5FE;
$success-color:                  #D5EDDB;
$danger-color:                   #D5EDDB;
$warning-color:                  #FFF2CF;
$disabled-color:                 #E2E3E5;

//Text
$text-color-primary:             #333333;
$text-color-secondary:           #888888;
$link-color-primary:             #5CA7DA;
$link-color-secondary:           #EBA559;
$header-color:                   #C19C7A;
$menu-item-color:                $primary-color;

//Buttons
$button-bg-color-default:        $white-color;
$button-border-color-default:    $blackish-color;