//Font family
$font-primary:                   'Proxima Nova Soft', 'Helvetica Neue', sans-serif;
$font-secondary:                 "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$header-font:                    'Proxima Nova Soft', 'Helvetica Neue', sans-serif;